*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: white;
    font-size: 12px;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    display: block;
    color: white;
}

ul {
    list-style: none;
}

/* SIDEBAR */

.sidebar {
    width: 190px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 20px;
    width: 150px;
    height: 50px;
    background: url("../img/logo.svg") no-repeat;
}


li a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #6D6D6D;
    font-weight: 600;
}

.active {
    border-left: 2px solid lime;
}

.active a {
    color: white;
}

li img {
    width: 30px;
    margin-left: 20px;
}

@media screen and (max-width:420px) {
    .nothere {
        visibility: hidden;
    }
    .logo {
        background: url("../img/logo-small.svg") no-repeat;
        width: 30px;
    }
    .sidebar {
        width: 60px;
    }
   
}


/* sidebar - playlist */

.playlist {
    margin: 0 20px;
    height: 50%;
}

.scroll {
    height: 80%;
    overflow-y: auto;
}

.playlist li a {
    margin-top: 5px;
}

h3 {
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.addplaylist {
    width: 30px;
    height: 30px;
    background-color: #6D6D6D;
    margin-right: 5px;
}

.addplaylist i {
    font-size: 16px;
    color: black;
    padding: 25%;
}

/* sidebar last block */

.lastblock {
    position: relative;
    top: -5%;
}

.lastblock hr {
    margin: 5px 20px;
    border-color: #6D6D6D;
}

.download img {
    width: 15px;
    margin-right: 5px;
}

.profile img {
    background-color: #6D6D6D;
    border-radius: 50px;
    margin-right: 5px;
}

@media screen and (max-width:420px) {
    .download img {
        width: 30px;
    }
}

/* CONTENUTI */

.container-content {
    display: flex;
    background-color: #141922;
    width: calc(100% - 190px);
    height: 100%;
    overflow-y: auto;
}
@media screen and (max-width:420px) {
    .container-content {
        width: calc(100% - 60px);
    }
}



.main-bar {
    background-color: bisque;
    height: 10%;
    min-height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

